/* seletor::pseudo-elemento{
    propriedade: valor;
} */

.first-line::first-line{
    color:aquamarine
}

.first-letter::first-letter{
    color: blueviolet;
}

li::marker{
    color: red;
    font-size: 50px;
}

h2::after{
    content: url(images.jpeg);
}

h2::before{
    content: url(images.jpeg);
}