@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-style: 'Roboto' serif;
}